{% extends 'base.html.twig' %}

{% block title %}Forgot password{% endblock %}
{% block body %}
    <div class="row w-100 mh-100 d-flex justify-content-center align-items-center" style="height: 32rem;">
        <div class="col-sm-5">
            <div class="well">
                {% if message %}
                <div class="alert alert-{{type}}">
                    {{ message }}
                </div>
                {% endif %}   
                <form action="{{ path('forgot_password')}}" method="post" style="
                background-color: #eaeaec;">
            
                    <fieldset class="p-5">
                        <legend><i class="fa fa-lock" aria-hidden="true"></i> {{ 'forgot password'|trans }}</legend>
                        {{form_start(form)}}
                        {{ form_row(form.username,{'attr':{'placeholder':'your username...'}}) }}
                        {{form_end(form)}}
                        
                        <p>
                            <button type="submit" class="btn btn-primary col-6">
                                <i class="fa fa-sign-in mr-2" aria-hidden="true"></i> {{ 'Ask for reset password'|trans }}
                            </button>     
                        </p>
                        
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
