{% extends 'base.html.twig' %}

{% block title %}reset-password{% endblock %}
{% block body %}
    <div class="row w-100 mh-100 d-flex justify-content-center align-items-center" style="height: 32rem;">
        <div class="col-sm-5">

            {{form_start(form)}} 
            {{ form_row(form.username,{'attr':{'placeholder':'your username...'}}) }}
            {{ form_row(form.password,{'attr':{'placeholder':'your new password...'}}) }}
            {{form_row(form.confirmation,{'attr':{'placeholder':'confirm your password'}})}}
            <button type="submit" class="btn btn-primary col-6">
            {{ 'reset password'|trans }}
            </button>     
            {{form_end(form)}}
           
        </div>
    </div>
{% endblock %}
