{% extends 'base.html.twig' %}
{% block title %}detail trick{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/detailtrick.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}

<div class="container">
  <section class="font-img mt-2 h-25 w-100 bg-danger">
    <div class="row">
      <div class="col-12 mb-2">
        <img class="imgslide img-responsive" src="{{ image.url }}" alt="First slide">
      </div>
    </div>           
  </section>
  <section class="row d-flex flex-row justify-content-around" id="tricks">
    {% for illustration in illustrations %}
    <div class="card col-xm-2 col-md-2 col-lg-2">
      <img class="card-img-top" src="{{ illustration.url }}" alt="{{ illustration.name }}">
    </div>
    {% endfor %}
    {% for video in videos %}
    <div class="card col-xm-2 col-md-2 col-lg-2">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
      </div>
    </div>
    {% endfor %}
  </section>
  <section class="container">
    <h2 class="col-xs-10 col-md-12 mb-3 ml-3 d-block text-left mt-5 mb-4">{{ trick.name }}</h2>
    <div class="row m-3 p-5 d-flex justify-content-center align-items-center">
      <p>{{ trick.description| raw }}</p>
    </div>
    <hr class="separator">
    <footer class="row d-flex justify-content-center my-3">
      
      <h5 class="col-xs-10 col-md-12 mb-3 ml-3 d-block text-center">
        <small class="text-muted">
          <em>
            <i class="fa fa-clock-o text-danger" aria-hidden="true"></i>
            <span class="mx-1">Apdated at :</span>
          </em>
          <strong>{{trick.updatedAt| date('d/m/Y at H:i')}}</strong><span class="mx-1">|</span>
          <em>
            <i class="fa fa-pencil-square-o text-danger" aria-hidden="true"></i>
            <span class="mx-1">
              Auteur:
            </span>
          </em> 
          <strong>
            {{trick.user.username}}
          </strong><span class="mx-1">|</span>
          <em>
            <i class="far fa-folder-open text-danger aria-hidden="true""></i>
            <span class="mx-1">
              Category:
            </span>
          </em> 
          <strong>{{ trick.category.name }}</strong>

            
        </small>
      </h5>   
    </footer>
    <hr class="separator">
        
        
  </section>
  <!--Formulaire de commentaire only for authenticated users-->
  {% if is_granted('ROLE_USER') %}
    <div class="row mx-5 my-3 d-flex justify-content-center">
      {{form_start(commentform)}}
      {{form_row(commentform.content,{'attr':{'placeholder':'your comment here...','rows':'5','cols':'45'}})}}
      <button type="submit" class="btn btn-success">send</button>
      {{form_end(commentform)}}
    </div>
    <hr>
  {% endif %}
  <!--affichage des commentaire-->
  <div class="row mx-5 my-5">
    {% if trick.comments %}
      <h3>This snowtrick have {{trick.comments | length }} comments </h3>
    {% endif %}
        
    <ul class="list-unstyled p-4">
      {% for key,comment in trick.comments %}
          
        <li class="media box-hidden my-4 p-3 bg-light w-80 l-5 border">
          <img src="{{asset(comment.user.avatar)}}" class="avatar mr-3 rounded-circle img-thumbnail imgtosmall" alt="...">
          <div class="media-body">
            <p>
              <span class="font-weight-bold">commented on the:</span>
              {{ comment.commentedAt | date('d/m/Y  H:i')}} 
              <span class="font-weight-bold">by :</span>
              {{ comment.user.username }}
            </p>
            <hr>
            <p class="font">
              {{ comment.content| raw }}
            </p>
                
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% if trick.comments|length >=3 %}
    <div class="row col-12 my-5 w-100 h-25">
      <div class="col-4"></div>
      <div class="wrap col-4  d-flex align-items-end flex-column">
        <a href="#" type="button" class="btn btn-outline-primary btn-inline-block w-100 btn-lg mt-auto" id="loadMore">Load More</a>
      </div>
      <div class="wrap col-4 d-flex">
        <span class="d-xs-none d-md-block col-md-4 ml-auto">
          <a href="#" type="button" class="btn btn-lg btn-inline-block btn-outline-primary mt-auto ">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
          </a>
        </span>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{ asset('js/show-more-comments.js')}}"></script>
{% endblock %}
      
      