{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}
{% block stylesheets %}
{{ parent() }}

<link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
<header class="masthead row">
  <div class="container-fluid h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">Your Favorite Snowtricks for free</h1>
        <hr class="divider my-4">
      </div>
      <div class="col-lg-8 align-self-baseline">
        <p class="text-white-75 font-weight-light mb-5">we can help you to do better Snowtricks using our site! Just let' start by clic in find out more!</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="{{ path ('home')}}#tricks">Find Out More</a>
      </div>
    </div>
  </div>
</header>
<div class="container">
<section class="row d-flex flex-row justify-content-around mt-5" id="tricks">
  
  {% for key,trick in tricks %}
  <div class="card box-hidden col-xm-12 col-md-6 col-lg-4 my-2 p-3">
    
    <header class="bg-light text-right ">
      {% if is_granted('ROLE_USER')%}
      <a class="mx-1" href="{{path('delete_trick',{id:trick.id})}}">
        <i aria-hidden="true" class="fa fa-trash"></i>
      </a>
      <a class="mx-1" href="{{path('edit_trick',{id:trick.id})}}">
        <i aria-hidden="true" class="fa fa-pencil"></i>
      </a>
      {% endif %}
    </header>
    
    <a href="{{ path ('trick_detail',{id:trick.id})}}">
      {% for key,illustration in trick.illustrations %}
      {% if key == 0 %}
        <img class="card-img-top" src="{{ asset ('imgs/tricks/' ~ illustration.url) }}" alt="image trick">
      {% endif %}
      {% endfor %}
    </a>
    
    <div class="card-body">
      <h5 class="card-title bold">{{ trick.name| raw }}</h5>
      <p class="card-text">{{ trick.description| raw}}
        <a href="{{ path ('trick_detail',{id:trick.id})}}" class="ml-2">
          <p>see more</p>
        </a>
      </p>
    </div>
  </div>
  {% endfor %}
</section>
{% if tricks|length >=6 %}
  
  <div class="row col-12 my-5 w-100 h-25">
    <div class="col-4"></div>
    <div class="wrap col-4  d-flex align-items-end flex-column">
      <a href="#" type="button" class="btn btn-outline-primary btn-inline-block w-100 btn-lg mt-auto"   id="loadMore">Load More</a>
    </div>
    <div class="wrap col-4 d-flex">
      <span class="d-xs-none d-md-block col-md-4 ml-auto">
        <a href="#" type="button" class="btn btn-lg btn-inline-block btn-outline-primary mt-auto ">
          <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </a>
      </span>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{ asset('js/show-more-tricks.js')}}"></script>
{% endblock %}
