{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block body %}
<section class="mb-5 bg-primary style="height:100%">
  <div class="col-sm-12 col-md-12 mx-auto">
    <img class="d-block img-fluid col-12 z-index-1" src="http://placehold.it/960x450" alt="">
    <div class="mb-3 d-flex justify-content-end z-index-2">
      <div class="btn btn-primary">voir les figure </div>
    </div>
  </div>

</section>

<section class="row d-flex flex-row justify-content-between mt-5" id="tricks">
  {% for trick in tricks %}
  <div class="card col-xm-12 col-md-6 col-lg-4 my-2 p-3">
    <img class="card-img-top" src="{{ firstImg.url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ trick.name }}</h5>
      <p 
        class="card-text">{{ trick.description }}
        <a href="{{ path ('trick_detail',{id:trick.id})}}" class="ml-2">en savoir plus...</a>
      </p>
    </div>
    <div class="footer">
      <a href="{{ path ('trick_detail',{id:trick.id})}}" class="btn btn-primary">en savoir plus</a>
    </div>
  </div>
  {% endfor %}
  
</section>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" h  ref="#">Next</a>
    </li>
  </ul>
</nav>


{% endblock %}