{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block body %}
<section class="mb-5">
  <div class="col-sm-12 col-md-10 mx-auto">
    <img class="rounded mx-auto d-block img-fluid" src="http://placehold.it/960x450" alt="">
  </div>
</section>

<section class="row d-flex flex-row justify-content-center" id="tricks">
  {% for trick in tricks %}
  <div class="card col-xm-12 col-md-6 col-lg-3 p-2 m-1">
    <img class="card-img-top" src="{{ firstImg.url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ trick.name }}</h5>
      <p 
        class="card-text">{{ trick.description }}
        <a href="{{ path ('trick_detail',{id:trick.id})}}" class="ml-2">en savoir plus...</a>
      </p>
    </div>
    <div class="footer">
      <a href="{{ path ('trick_detail',{id:trick.id})}}" class="btn btn-primary">en savoir plus</a>
    </div>
  </div>
  {% endfor %}
  
</section>

{% endblock %}